@import "tailwindcss";

@theme {
  --font-display: "monggoland";
  --font-serif: "ptSerif", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
  --color-brown: #463e33;
  --color-beige: #f6f1eb;

  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem;
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem;
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-2xl: 1.5rem;
  --text-2xl--line-height: calc(2 / 1.5);
  --text-3xl: 1.875rem;
  --text-3xl--line-height: calc(2.25 / 1.875);
  --text-4xl: 2.25rem;
  --text-4xl--line-height: calc(2.5 / 2.25);
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
}

@layer base {
  body {
    background-color: var(--color-beige);
    color: var(--color-brown);
    font-size: var(--text-base);
  }
  h1 {
    font-family: var(--font-display);
  }
  p,
  a,
  button {
    @media (min-width: 48rem) {
      & {
        font-size: var(--text-lg);
      }
    }
    @media (min-width: 64rem) {
      & {
        font-size: var(--text-xl);
      }
    }
  }
}

@layer components {
  .wrapper {
    width: 100%;
    max-width: 1280px;
    padding-inline: 1.5rem;
    margin-inline: auto;
    @media (min-width: 40rem) {
      & {
        padding-inline: 2.5rem;
      }
    }
  }
}
